<div class="container my-5">
    <h1 class="text-center">Doutor Miguel Vieira Ferreira</h1>
    <p class="lead text-justify">
        <b>Em 10 de dezembro de 1837</b> nascia à Fonte das Pedras, em São Luís do Maranhão, uma criança, 
        predestinada a ser na Terra elemento de vida, manancial de graças, fonte infinita de bênçãos, 
        irradiação perfeita do bem! Crescendo, adquiriu em sólida e aprimorada educação, baseada em 
        profundos conhecimentos seculares, o preparo preciso para o desempenho de sua delicada e 
        sublime missão! Tornou-se homem e, nesse homem, vimos surgir a figura inconfundível do 
        Doutor Miguel Vieira Ferreira, ilustre entre os mais ilustres de seus pares!
    </p>
    
    <p class="lead text-justify">
        <b>Patriota</b> ardentíssimo, propugnou sempre pelo estabelecimento, no país, dos ideais mais 
        alevantados, convindo salientar ter sido ele o pioneiro na educação e instrução ministradas ao 
        sexo feminino em nosso meio social. <b>Republicano</b> de coração, cooperou com extrema eficácia 
        para que se implantasse no Brasil, o regime democrático.
    </p>
    
    <p class="lead text-justify">
        <b>Militar</b> brioso, pois foi oficial de engenheiros, atuou em sua classe como elemento operoso, 
        amante de uma disciplina rígida e severa. <b>Escritor</b> de grande envergadura, tratou de múltiplos 
        assuntos, abordando as mais complexas e transcendentes questões de caráter científico, político 
        e social. <b>Homem de ação</b>, dirigiu indústrias, fundou escolas, organizou bancos, coisas essas 
        todas referidas no importante Dicionário Histórico e Geográfico da Província do Maranhão pelo Dr. 
        César Augusto Marques. <b>Político</b>, fundou o primeiro clube republicano no Brasil, em 1870; foi um 
        dos cinco primeiros redatores da folha "A República"; presidiu o quinto distrito republicano e 
        assinou o célebre manifesto de 70, o que poderá ser conhecido com mais amplitude pela leitura do 
        Álbum de Portugueses e Brasileiros Eminentes, fascículo XVII, sendo que Joaquim Nabuco sobre ele 
        também escreveu em 1895 pelas colunas do "Jornal do Comércio".
    </p>

    <p class="lead text-justify">
        <b>Abnegado</b> em extremo, pediu demissão do Exército e, mais à vontade, tudo fez pelo desejo 
        exclusivo de ser útil a outrem, de servir de coração à sua querida pátria! Um dia, porém, com 
        surpresa para muitos, transmudou-se o grande homem, segundo o século, no fiel <b>Servo de Deus:</b> - 
        Miguel ! Seu falar meigo e suave, concitando os homens a buscar a salvação em Jesus, o Mestre 
        Amado, induzindo os que não conheciam Deus a confiadamente procurá-lo, demonstrou à sociedade que 
        sua maravilhosa conversão, descrita em minudência no "Centenary Memorial of the planting and growth 
        of Presbyterianism in Western Pensylvania and parts adjacent. Held in Pittsburg. Dec. 7-9-1875. 
        Appendixes to religious history: God’ Power upon the soul" ia torná-lo capaz de realizar, entre 
        os homens, sua missão celestial.
    </p>

    <p class="lead text-justify">
        Assim, todos quantos dele vindo a aproximar-se, tiveram a dita de enxergar a radiante auréola de 
        luz clara e pura que circundava a majestade de sua cabeça gloriosa, foram beneficiados pelos 
        eflúvios do amor divino que dele irradiavam. Guerra sem tréguas lhe foi então movida por uma 
        multidão de inconscientes! Lutou, porém, sempre e bravamente, aquele que, tendo apenas sabido 
        desejar o bem, nunca poderia supor o coração do homem capaz de repelir suas palavras de sabedoria 
        e bondade! E, pregando sem desfalecimentos, a verdade, fundou em 1879, por ordem do Senhor, a 
        Igreja Evangélica Brasileira, onde sua palavra, sopro de vida partido dos Céus, ressoa sempre, 
        despertando no coração daqueles que a ouvem o desejo ardente de servir a Deus da forma e pelo 
        modo por que o Excelso deve ser sempre servido! Recolhido, finalmente, à mansão dos justos, em 95, 
        goza, hoje, Miguel junto de seu bendito Salvador, a bem-aventurança eterna! Mas, para o Povo do 
        Senhor, Miguel é visto ainda na Terra, porque Miguel permanece nos que, escutando sua palavra 
        santa, guardam seu ensino, assimilando a doutrina por ele pregada! Esses, iluminados pela luz 
        divina, podem, enxergando através do que é material e físico, aperceber-se da grandiosidade da 
        obra que o Excelso realiza neste planeta por intermédio de sua Igreja. Para eles a individualidade 
        de Miguel como que tem importância relativamente secundária, pois o que em sua personalidade 
        majestosa focalizam é a graça do Deus vivo manifestada em bem de suas criaturas humanas nos dias 
        que transcorrem.
    </p>

    <p class="lead text-justify">
        Em Miguel refulge a claridade diáfana da luz celestial, que permite aos que são bem intencionados 
        ver aquilo que os olhos da carne não podem divisar, mas que realmente existe e precisa tornar-se 
        conhecido por todos quantos desejam alcançar a salvação eterna: mas, que também ofusca, por seu 
        intensíssimo brilhar, a visão dos que, deixando em plano inferior o que advém de Deus, buscam no 
        que é material, a felicidade tão falaz que caracteriza tudo quanto, por ser temporal, é 
        essencialmente mundano.
    </p>

    <p class="text-center font-weight-bold">
        Glória, honra, e louvor sejam, pois, dados a DEUS, o PAI, e a seu bendito FILHO, pela graça e 
        bênção que em MIGUEL foram conferidas aos servos do Altíssimo aqui na Terra. Amém.
    </p>
</div>