<div class="container my-5">
    <h1 class="text-center"><b>Histórico da Igreja Evangélica Brasileira</b></h1>
    
    <p>A <b>Igreja Evangélica Brasileira</b>, fundada na Terra por determinação de Deus, em 11 de setembro de 1879, por intermédio do <b>Doutor Miguel Vieira Ferreira</b>, foi reconhecida pelo Governo Imperial a 12 do mesmo mês e ano, data em que registrou, na Secretaria do Império, o Termo de sua fundação e eleição do Doutor Miguel para seu primeiro Pastor.</p>
    
    <p>Este, após um glorioso Pastorado de dezesseis anos, foi por Deus retirado deste vale de misérias e recolhido ao Reino da Glória, em 20 de setembro de 1895.</p>
    
    <p>Assumiu, então, a direção do Povo do Senhor, por deliberação unânime dos irmãos, o <b>Dr. Luiz Vieira Ferreira</b>, que a 9 de janeiro de 1898, foi aclamado segundo Pastor da Igreja.</p>
    
    <p>O ministério do Dr. Luiz, também muito abençoado, terminou a 6 de janeiro de 1908, com o falecimento desse servo do Altíssimo.</p>
    
    <p>Prevendo sua retirada deste mundo, determinou o Dr. Luiz que, logo após seu passamento, ficasse a Igreja a cargo dos irmãos Presbíteros – regentes, constituídos ainda em seu Pastorado.</p>
    
    <p>Assim, sob a regência de seu Presbitério, cuja presidência coube ao <b>Sr. Manoel Francisco do Nascimento</b>, permaneceu a Igreja desde 6 de janeiro de 1908, até 24 de setembro de 1911, quando aprouve ao Senhor Onipotente cumprir o que prometera ao Doutor Miguel, ordenando Pastor da Igreja Evangélica Brasileira o <b>Dr. Israel Vieira Ferreira</b>.</p>
    
    <p>O Pastorado de 48 anos do Reverendo Dr. Israel Vieira Ferreira - o Filho da Promessa - cumpriu-se gloriosamente, com muitas bênçãos, conforme a promessa feita por Deus ao Doutor Miguel, recolhendo-se ao Reino da Glória em 31 de janeiro de 1959.</p>
    
    <p>Daí em diante, passou a direção da Igreja do Senhor a ser exercida pelo seu Presbitério, cuja presidência coube ao então Moderador, <b>Dr. Antônio Prado</b>, até que em 30 de junho de 1974, os membros da Igreja, inspirados pelo Senhor Deus Altíssimo, escolheram, por escrutínio secreto, o seu quarto Pastor visível, o Dr. Antônio Prado, o qual, eleito por unanimidade das congregações, foi ordenado e empossado em 29 de setembro de 1974.</p>
    
    <p>O ministério do Dr. Antônio Prado, também muito abençoado, terminou a 15 de outubro de 1999 com o falecimento desse servo do Altíssimo, passando a Igreja, então, a ser dirigida por seu Presbitério, cuja presidência cabe ao Presbítero-Moderador <b>Dr. Paulo Ferreira Novo</b>.</p>
    
    <p>O Termo de fundação da Igreja e eleição do Doutor Miguel para seu 1º Pastor acha-se registrado na Secretaria do Império à fls. 14 v. e 15 do livro 972: - Títulos de Pastores e Ministros de Religiões Toleradas – livro esse descrito à fls. 130 v. da Relação 29 da Seção Administrativa – Arquivo Nacional.</p>
    
    <p class="text-center mt-4"><b>DEUS É FIEL!</b></p>
</div>