.backgroud{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center 36%;
}
.image-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.image-container::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));  */
    background: #ffffff63;
    pointer-events: none; 
}
.logo{
    position: absolute;
    z-index: 2;
}
.card-img{
    padding: 0 20px;
}