<div class="image-container">
    <img src="../../../assets/img/santa_se_2.jpg" alt="" class="backgroud" srcset="">
    <img src="../../../assets/img/logo.png" alt="" class="logo">
</div>
<div class="congregacoes">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let vehicle of vehicles">
          <ng-template carouselSlide>
            <div class="card-img">
                <img [src]="vehicle.imageUrl" [alt]="vehicle.version" [title]="vehicle.title">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
</div>