<div class="home-container">
  <div class="image-container">
    <img src="../../../assets/img/santa_se_2.jpg" alt="" class="backgroud" srcset="">
    <div class="bannerContainer">
      <img src="../../../assets/img/logo.png" alt="" class="logo">
      <h1 class="tituloBanner">IGREJA EVANGELICA BRASILEIRA</h1>
    </div>
  </div>
  <div class="container" style="background-color: #fff;">
    
    <div class="noticiaData row">
      <div class="noticias col-8">
        <div class="row">
          <div class="col-6">
            <h3>Ultimas Notícias</h3>
          </div>
          <div class="col-6 buttonVerTotas">
            <a href="#" class="btn cor-primaria">Ver Totas</a>
          </div>
        </div>

        <div class="ultimasNoticias">
          <div class="card" style="width: 18rem;" *ngFor="let noticia of noticias">
            <img src="../../../assets/img/santa_se_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Noticia</h5>
              <p class="card-text">Lorem ipsum dolor sit amet. Ut nostrum corporis sit quisquam maiores aut error nisi est illum facere cum ducimus alias.</p>
              <a href="#" class="btn cor-primaria">Ler Mais</a>
            </div>
          </div>
        </div>

      </div>
      <div class="datasComemoradas col-4">
        <div>
          <div>
            <span>12</span>
            <span>DEZ</span>
          </div>
          <div>sobre a data</div>
        </div>
        <div><a href="/datas-comemoradas">Ver todas as datas</a></div>
      </div>
    </div>
    
    <div class="congregacoes">
      <div class="row">
        <div class="col-12">
          <h3>Congregações</h3>
        </div>
        <!-- <div class="col-6 buttonVerTotas">
          <a href="#" class="btn cor-primaria">Ver Totas</a>
        </div> -->
      </div>
      <div class="row row-carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let estado of congregacoes">
            <ng-container *ngFor="let congregacao of estado.cidades">
              <ng-template carouselSlide>
                <div class="card-img">
                  <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/santa_se_2.jpg" [alt]="congregacao.nome" [title]="congregacao.nome">
                    <div class="card-body">
                      <h5 class="card-title">{{congregacao.nome}}</h5>
                      <p class="card-text">Descrição Congregação</p>
                      <a href="#" class="btn cor-primaria">Ver Mais</a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </owl-carousel-o>
        <ng-container *ngIf="congregacoes.length > 0">
          <owl-carousel-o [options]="customOptions">
            <div *ngFor="let estado of congregacoes">
              {{estado.nome}}
              <ng-container *ngFor="let congregacao of estado.cidades">
                <ng-template carouselSlide>
                  <div class="card-img">
                    <div class="card" style="width: 18rem;">
                      <!-- Seu conteúdo do slide aqui -->
                      <div class="card-body">
                        <p class="card-text">Descrição Congregação</p>
                        <a href="#" class="btn cor-primaria">Ver Mais</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </owl-carousel-o>
        </ng-container>
      </div>

    </div>
  </div>
</div>