<!-- 
<pagination-controls (pageChange)="onPageChange($event)"
previousLabel="Prev"
nextLabel="Next"
></pagination-controls>

<div *ngFor="let mes of meses | paginate: {
                                  itemsPerPage: 1,
                                  currentPage: paginaAtual,
                                  totalItems: 12
                                }">
  <h2>{{ mes }}</h2>
  <ul>
    <li *ngFor="let evento of eventosPorMes[mes]">
      {{ evento.titulo }} - {{ evento.data }}
    </li>
  </ul>
</div> -->


<!-- Pagination Controls -->
<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <pagination-controls
      class="pagination"
      (pageChange)="onPageChange($event)"
      previousLabel=""
      nextLabel=""
    >
    </pagination-controls>
  </div>
</div>

<!-- Meses e Eventos -->
<div class="container mt-4">
  <div *ngFor="let mes of meses | paginate: { itemsPerPage: 1, currentPage: paginaAtual, totalItems: 12 }">
    <!-- Mês com Heading -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header text-white" style="background-color: #c78b50">
        <h2 class="card-title">{{ mes }}</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let evento of eventosPorMes[mes]">
            <span class="font-weight-bold">{{ evento.titulo }}</span>
            <span class="text-muted"> - {{ evento.data }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
