<div class="container mt-4">
    <h2 class="mb-4">Tabela de Cultos de propaganda</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Localidade</th>
          <th>1º Dom</th>
          <th>2º Dom</th>
          <th>3º Dom</th>
          <th>4º Dom</th>
          <th>5º Dom</th>
          <th>Endereço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Campo Limpo</td>
          <td>16:00</td>
          <td>16:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td>Estrada do Campo Limpo, 2641</td>
        </tr>
        <tr>
          <td>Caxambu</td>
          <td>11:00</td>
          <td>11:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td>R. Evaristo de Sá Guedes, 584 - Próx. da Rodoviária</td>
        </tr>
        <tr>
          <td>Guarulhos</td>
          <td></td>
          <td></td>
          <td></td>
          <td>15:00</td>
          <td></td>
          <td>R. Teles Pires, 138 - Parque Jurema</td>
        </tr>
        <tr>
          <td>Itu</td>
          <td></td>
          <td></td>
          <td></td>
          <td>15:00</td>
          <td>15:00</td>
          <td>Av. 1932, 61 - Bairro Rancho Grande</td>
        </tr>
        <tr>
          <td>Passa Três</td>
          <td></td>
          <td></td>
          <td></td>
          <td>15:00</td>
          <td></td>
          <td>Sítio Água Limpa</td>
        </tr>
        <tr>
          <td>Praia Grande</td>
          <td>16:00</td>
          <td>16:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td>Av. dos Trabalhadores, 815</td>
        </tr>
        <tr>
          <td>Sorocaba</td>
          <td></td>
          <td></td>
          <td></td>
          <td>15:00</td>
          <td>15:00</td>
          <td>R. Dr. Welzick Tabacow, 104 - Jd. Planalto</td>
        </tr>
        <tr>
          <td>Suzano</td>
          <td></td>
          <td></td>
          <td></td>
          <td>19:00</td>
          <td>19:00</td>
          <td>R. Natam José Souza, 30 (Antiga Rua 33) - Miguel Brada Baixo</td>
        </tr>
        <tr>
          <td>Taubaté</td>
          <td></td>
          <td></td>
          <td></td>
          <td>15:00</td>
          <td>15:00</td>
          <td>R. Ana Perpétua Marques, 127 - Vila Aparecida</td>
        </tr>
        <tr>
          <td>Vila Esperança</td>
          <td>16:00</td>
          <td>16:00</td>
          <td>16:00</td>
          <td></td>
          <td></td>
          <td>R. Montes Áureos, 96</td>
        </tr>
        <tr>
          <td>Vila Medeiros</td>
          <td>19:00</td>
          <td>19:00</td>
          <td>19:00</td>
          <td>19:00</td>
          <td></td>
          <td>R. Júlia Roxo, 133</td>
        </tr>
        <tr>
          <td colspan="7" class="font-weight-bold text-center">Exterior</td>
        </tr>
        <tr>
          <td>Bolívia</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>10:00</td>
          <td></td>
          <td>Guayaramerin (Em frente ao Aeroporto)</td>
        </tr>
        <tr>
          <td>Uruguai</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>10:00</td>
          <td>R. 20 de Setembro, 559 - Artigas</td>
        </tr>
      </tbody>
    </table>
  </div>